<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<aside></aside>


<main>
<% if (user) { %>
<form action="/posts" method="POST" >
    <label for="post-textarea"></label>
    <textarea type= "text" name="post" id="post-textarea"></textarea>
    <button class="btn" type="submit">Post</button>
</form>
<% } %>

  <h1>Posts</h1>
  <ul>
  <% posts.forEach(post => { %>
    <li class="post"> <%= post.post %> </li>
    <button class="btn"><a href="/posts/<%= post._id %>">DETAILS</a></button>
  <% }) %>
</ul>
</main>

<article></article>

<%- include('../partials/footer') %>