<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<aside>
  <div><h1></h1></div>
</aside>


<main>
  
<% if (user) { %>
<form class="post-area" action="/posts" method="POST" >
    <label for="post-textarea"></label>
    <textarea type= "text" name="post" id="post-textarea" cols="70" rows="5" maxlength="150"></textarea>
    <button class="btn" type="submit">talk</button>
</form>
<% } %>

  <h1>Timeline</h1>
  <!-- <ul> -->
  <% posts.forEach(post => { %>
    <div class="profile-post">
    <h3> <%= user.profile.name %></h3>
    <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar"/>
    <div class="post"> <%= post.post %> </div>
    <form action="/posts/<%= post._id %>"><button class="btn">Details</button></form>
    <% if (user) { %>
    <!-- <form action="/posts/<%= post._id %>/edit"><button>Edit Post</button></form> -->
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button class="delete-btn">Delete</button>
    </form>
  </div>
    <% } %>

  <% }) %>
<!-- </ul> -->
</main>

<article><div><h1></h1></div></article>

<%- include('../partials/footer') %>